.backgroundImage {
    margin: 0;
    background-image: url('../resources/bg.png');
    background-size: cover;
    background-position: 50%,50%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    55% { opacity: 0; } /* Arbitrary number goes crazy */
    100% { opacity: 1; }
}

main {
    position: absolute;
    z-index: 0;
}

#title {
    color: #ffffff;
    font-family: "Merriweather";
    font-size: 7vw;
    font-weight: normal;
}

#subtitle {
    color: #ffffff;
    font-family: "Merriweather";
    font-size: 3vw;
    font-weight: normal;
}

#subtitle2 {
    text-shadow: 0 0 1px #ffffff, 0 0 3px #e3c0ff, 0 0 5px #d7a6ff, 0 0 7px #cb8cff, 0 0 9px #c073ff, 0 0 11px #b459ff, 0 0 13px #a940ff;
}